:root {
    --color-primary-blue: #023047;
    --color-primary-green: rgb(20, 141, 20);
    --color-white: #fff;
    --color-light: #fffff2;

    --color-grey: #edf2f4;

    --border: 1.5rem;
    --shadow: 2px 1px 5px var(--color-primary-blue);

    --bp-largest: 75em; /*1200 px*/
    --bp-large: 68.75em; /*1100 px*/
    --bp-medium: 60em; /*950 px*/
    --bp-small: 46.8em; /*750 px*/
    --bp-smallest: 31.25em; /*500 px*/
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(-10rem);
    }

    80% {
        transform: translate(1rem);
        color: var(--color-primary-green);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
        color: var(--color-primary-green);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveFromBottom {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.app {
    display: flex;
    height: 100vh;
    width: 100vw;
}
