* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif; }

.app {
  display: flex;
  height: 100vh;
  width: 100vw; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    transform: translate(1rem);
    color: #148d14; }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem);
    color: #148d14; }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.heading-primary {
  color: #023047;
  text-transform: uppercase;
  flex-basis: 20rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in; }
    @media only screen and (max-width: 60em) {
      .heading-primary--main {
        font-size: 3.2rem; } }
    @media only screen and (max-width: 46.8em) {
      .heading-primary--main {
        font-size: 3.2rem;
        text-align: center;
        letter-spacing: normal; } }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1rem;
    text-align: center;
    color: #023047;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in; }
    @media only screen and (max-width: 60em) {
      .heading-primary--sub {
        font-size: 2.2rem; } }

.heading-secondary {
  color: #148d14;
  font-size: 2rem;
  letter-spacing: 0.1rem; }

.text-footer {
  list-style: none;
  color: #fffff2;
  font-size: 1.6rem; }

.heading-tertiary {
  padding: 2rem;
  color: #023047;
  font-size: 2.5rem; }
  @media only screen and (max-width: 60em) {
    .heading-tertiary {
      font-size: 3rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-tertiary {
      display: none; } }

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1rem;
  text-transform: uppercase;
  align-self: center;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  background-color: #148d14;
  color: #fffff2;
  animation-name: moveInLeft;
  animation-delay: 0.2s;
  animation-duration: 2s;
  animation-fill-mode: backwards; }
  @media only screen and (max-width: 31.25em) {
    .btn, .btn:link, .btn:visited {
      display: none; } }

.btn:hover {
  background-color: #148d14;
  box-shadow: 2px 1px 5px var(--color-primary-blue); }

.nav {
  background-color: #023047;
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 100vh; }
  .nav ul {
    list-style: none;
    margin-top: 5rem; }
  .nav a {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 1.6rem;
    color: #edf2f4;
    letter-spacing: 0.5px;
    padding: 2rem; }
    .nav a:after {
      content: '';
      position: absolute;
      background-color: #edf2f4;
      height: 0.3rem;
      width: 0;
      left: 0;
      bottom: -0.8rem;
      transition: all 0.3s; }
    .nav a:hover:after {
      width: 100%; }

.home {
  width: 100%; }

.img {
  height: 40%;
  width: 95%;
  background-image: url("https://ronaldo.com/wp-content/uploads/2018/03/Natural-grass-vs.-artificial-grass.jpg");
  margin: 1rem auto;
  background-size: cover;
  background-position: 0 15%;
  height: 30vh;
  margin-top: 3rem;
  margin-bottom: 5rem; }

.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #023047;
  padding: 2rem; }
