.profile__player-info {
    height: 75%;
    width: 50%;
    background-color: var(--color-white);
    border-radius: var(--border);
    box-shadow: var(--shadow);
    padding: 1rem;
}
.profile__img {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border-radius: var(--border);
    box-shadow: 0px 0px 3px var(--color-primary-blue);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.profile__image {
    width: 12rem;
    height: 12rem;
}

.profile__name {
    width: 20rem;
}
.profile__ul {
    margin-left: 1rem;
}

.profile__ul > * {
    border-bottom: 1px solid var(--color-grey);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.profile__icon {
    fill: var(--color-primary-blue);
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 2rem;
}

.profile__item {
    font-size: 1.6rem;
}

@media only screen and (max-width: 46.8em) {
    .profile__player-info {
        width: 100%;
    }
}

@media only screen and (max-width: 31.25em) {
    .profile__player-info {
        margin: 0 auto;
        width: 90%;
    }
}
