.profile-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.profile {
    height: 70%;
    width: 75%;
    margin-top: 3rem;
    background-color: var(--color-grey);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: var(--border);
}
