.heading-tertiary {
    padding: 2rem;
    color: var(--color-primary-blue);
    font-size: 2.5rem;

    @media only screen and (max-width: var(--bp-medium)) {
        font-size: 3rem;
    }

    @media only screen and (max-width: var(--bp-smallest)) {
        display: none;
    }
}
