.main {
    width: calc(100vw - 10rem);
    height: 100vh;

    @media only screen and (max-width: var(--bp-medium)) {
        width: 100vw;
    }
}

.main__menu-container {
    background-color: var(--color-light);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    text-align: center;
    padding-top: 1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;

    @media only screen and (max-width: var(--bp-medium)) {
        display: block;
    }
}

.main__menu {
    font-size: 3.5rem;
    color: var(--color-primary-blue);
}
