.btn {
    &,
    &:link,
    &:visited {
        border-radius: 1rem;
        padding: 1.5rem 4rem;
        font-size: 1.6rem;
    }

    &--green {
        background-color: $color-primary-green;
        color: $color-light;
        animation-name: moveInLeft;
        animation-delay: 0.2s;
        animation-duration: 2s;
        animation-fill-mode: backwards;

        &:hover {
            background-color: $color-primary-blue;
            color: var $color-light;
            box-shadow: $shadow;
            box-sizing: border-box;
            transform: translateY(-1px);
            border: 1px solid $color-light;
        }
    }

    &--white {
        font-size: 1.4rem;
        color: #000;
        padding: 1rem;
        border: 1px solid $color-primary-blue;
        border-radius: 1rem;
        text-align: center;
        transition: all 0.2s;

        &:hover {
            background-color: $color-primary-blue;
            color: $color-light;
            transform: translateY(-3px);
            box-shadow: $shadow;
        }
    }

    & a {
        text-decoration: none;
        color: $color-light;
    }

    &:hover {
        box-shadow: $shadow;
    }
}
