.main {
    width: calc(100vw - 10rem);
    height: 100vh;

    @media only screen and (max-width: $bp-medium) {
        width: 100vw;
    }

    &__menu-container {
        background-color: $color-light;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        text-align: center;
        padding-top: 1rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: none;

        @media only screen and (max-width: $bp-medium) {
            display: block;
        }
    }
    &__menu {
        font-size: 3.5rem;
        color: $color-primary-blue;
    }
}
