

    & ul {
        list-style: none;
        margin-top: 5rem;
    }

    & a {
        display: block;
        position: relative;
        text-decoration: none;
        font-size: 1.6rem;
        color: $color-grey;
        letter-spacing: 0.5px;
        padding: 2rem;

        &:after {
            content: '';
            position: absolute;
            background-color: $color-grey;
            height: 0.3rem;
            width: 0;
            left: 0;
            bottom: -0.8rem;
            transition: all 0.3s;
        }

        &:hover:after {
            width: 100%;
        }
    }
}
