.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;

    animation-name: moveFromBottom;
    animation-duration: 2s;
    animation-timing-function: ease-in;

    &__items {
        width: 80%;
        margin-bottom: 2rem;
    }

    &__label {
        font-size: 2rem;
        margin: 1rem;
        cursor: pointer;
        color: $color-primary-blue;
    }

    &__item {
        background-color: $color-grey;
        font-family: inherit;
        font-size: 1.8rem;
        padding: 2rem 2rem;
        color: $color-primary-blue;
        border: none;
        border-radius: 10px;
        border-bottom: 1px solid $color-primary-blue;
        display: block;
        transition: all 0.3s;
        width: 100%;

        @media only screen and (max-width: $bp-large) {
            width: 90%;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(black, 0.1);
            border-bottom: 3px solid $color-primary-green;
        }

        &:focus:invalid {
            border-bottom: 3px solid red;
        }
    }
}
