.heading-secondary {
    color: $color-primary-green;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.heading-tertiary {
    padding: 2rem;
    color: $color-primary-blue;
    font-size: 2.5rem;

    @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        display: none;
    }
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
