// colors

$color-primary-blue: #023047;
$color-primary-green: rgb(20, 141, 20);
$color-white: #fff;
$color-light: #fffff2;
$color-grey: #edf2f4;

//boreders & shadows
$border: 1.5rem;
$shadow: 2px 1px 5px var(--color-primary-blue);

// screens
$bp-largest: 75em; // 1200 px
$bp-large: 68.75em; // 1100 px
$bp-medium: 60em; // 950 px
$bp-small: 46.8em; // 750 px
$bp-smallest: 31.25em; // 500 px
