.nav {
    background-color: var(--color-primary-blue);
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;

    @media only screen and (max-width: var(--bp-medium)) {
        display: none;
    }
}

.nav ul {
    list-style: none;
    margin-top: 5rem;
}

.nav a {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--color-grey);
    letter-spacing: 0.5px;
    padding: 2rem;
}

.nav a:after {
    content: '';
    position: absolute;
    background-color: var(--color-grey);
    height: 0.3rem;
    width: 0;
    left: 0;
    bottom: -0.8rem;
    transition: all 0.3s;
}
.nav a:hover:after {
    width: 100%;
}
